<%- include('../partials/head') %>
<div class="container">

<h1>Your Trip Plans</h1> <br>

    <div class="card-container">
        <% trips.forEach(trip => { %>


            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="<%= trip.image  %>" alt="Image of the country added">
                <div class="card-body">
                  <h5 class="card-title"><%= trip.country %></h5>
                  <p class="card-text"><%= trip.description %></p>
                  <a href="#" class="btn btn-primary">Show more!</a>
                </div>
              </div>
        </div>
        <% }) %>
        
    </div>
    
</div>
<%- include('../partials/footer') %>