<%- include('../partials/head') %>

<div class="bgImg">

</div>
<div class="detailsShowingCon">

  <style>
    .bgImg{
    background: linear-gradient( rgba(0, 0, 0, 0.720), rgba(0, 0, 0, 0.720) ), url('<%= trip.image %>');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    filter: blur(8px);
    -webkit-filter: blur(4px);
}
  </style>
  <div class="detailsShowing">

    <!-- <h1>Details</h1> -->
    <div class="box1">
      <img src="<%= trip.image %>" alt="Trip Image">
    </div>

    <div class="box2">
      <h1><strong><%= trip.country %></strong></h1>
      <br><br>
      <h4><strong>Status </strong><br><%= trip.status %></h4>
      <br>
      <h4><strong>Season</strong> <br><%= trip.bestSeason %></h4>
      <br>
      <h4><strong>Activities to do</strong> <br> <%= trip.activities %></h4>
      <br>
      <h4><strong>Budget Needed</strong><br> <%= trip.budget %></h4>
      <br>
      <h4 id="sss"><strong>Description</strong> <br><%= trip.description %></h4>
      <br><br>



      <div class="rate">
        <% if (trip.rating) { %> 
          <% if (trip.rating >= 4) { %>
            <span class="badge bg-success">&#9733; <%= trip.rating %></span>
          <% } else if (trip.rating >= 3) { %>
            <span class="badge bg-warning">&#9733; <%= trip.rating %></span>
          <% } else { %>
            <span class="badge bg-danger">&#9733; <%= trip.rating %></span>
          <% } %>
        <% } else { %>
          <span class="badge bg-secondary">&#9733;</span>
        <% } %>
      </div>
           

    </div>


    <div class="box3">
      <div class="buttons">
        <form action="/users/<%= user._id %>/trips/<%= trip._id %>?_method=DELETE" method="POST" class="d-inline">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>      </div>
  
      <div class="buttons2">
        <a href="/users/<%= user._id %>/trips/<%= trip._id %>/edit" class="btn btn-secondary">Edit</a>
      </div>
    </div>

  </div>

</div>


<%- include('../partials/footer') %>